<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-2" >
      <app-sun-shower></app-sun-shower>
    </div>
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-2 col-md-2">
      <app-rainy></app-rainy>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <app-thunder-storm></app-thunder-storm>
    </div>
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-2 col-md-2">
      <app-sunny></app-sunny>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <app-thunder-storm></app-thunder-storm>
    </div>
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-2 col-md-2">
      <app-sunny></app-sunny>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <app-cloudy></app-cloudy>
    </div>
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-2 col-md-2">
      <app-sunny></app-sunny>
    </div>    
  </div>
</div>